<script type="text/javascript">
    document.write(wet.builder.appFooter({
        "contactLink": [{
        "href": "https://gcdevopsleague.slack.com/messages/CKS45C1ST/",
        "newWindow": true
        }],
        "termsLink": [{
        "href": "https://github.com/s-laugh/esdc-devcop.github.io/blob/master/LICENSE",
        "newWindow": true
        }],
        "privacyLink": [{
        "href": "https://github.com/s-laugh/esdc-devcop.github.io/blob/master/LICENSE",
        "newWindow": true
        }],
        "showFeatures": false
    }));
</script>
