<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en' }}" xmlns="http://www.w3.org/1999/xhtml" class="no-js" dir="ltr">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    
    <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/rn/cdts/compiled/soyutils.js"></script>
    <script type="text/javascript" src="https://www.canada.ca/etc/designs/canada/cdts/gcweb/rn/cdts/compiled/wet-en.js"></script>

{% seo %}
    
    <script>
      document.write(wet.builder.refTop({
        "isApplication": true
      }));
    </script>

    {% include customStyle.html %}

  </head>

  <body>
    
    {% include appTop.html %}

    <main role="main" property="mainContentOfPage" class="container" id="wb-cont">
      {% if site.data.alert.current %}
        <div class="well well-sm text-center">
          <p class="lead mrgn-bttm-0">{{ site.data.alert.current }}</p>
        </div>
      {% endif %}
      <h1>{{ page.title }}</h1>

      {{ content }}

      {% include preFooter.html %}

    </main>

    {% include appFooter.html %}

    <script type="text/javascript">
      document.write(wet.builder.refFooter({}));
    </script>

  </body>
</html>
