name: CI

on:
  push:
    branches-ignore:
      - "dependabot/**"
  pull_request:
    

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: 
          - 16.x
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
      with: 
        submodules: 'recursive'

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: npm

    - name: Install dependencies    
      run: npm ci

    - name: Test
      run: npm test
      env: 
         DISABLE_PROXY: true 
